win/yolang/Release
win/yolang/Debug
win/yolang/x64/Release
win/yolang/x64/Debug
win/yolang-llvm/Release
win/yolang-llvm/Debug
win/yolang-llvm/x64/Release
win/yolang-llvm/x64/Debug
*.opensdf
*.sdf
*.suo
*.vcxproj.user
build
3rdparty/x
3rdparty/yolang.output
3rdparty/llvm/mybuilddir